<p>
  Places listing
</p>
<a routerLink="/place/new"><button>Add new place</button></a>
<table class="w-100 prettyborder">
  <tr class=" w-100 ">

    <td class="w-50">title</td>
    <td class="w-25">edit</td>
    <td class="w-25" >delete </td>
  </tr>
<tr

  *ngFor="let items of dc.places"

  class=" w-100 "
>
  <td class="w-50"><a routerLink="/place/{{items.id}}">{{items.name}}</a></td>
  <td class="w-25"><a routerLink="/place/{{items.id}}/edit">edit</a>   </td>
  <td class="w-25" ><button class="btn-sm" (click)="dc.delplace(items.id)">delete</button>   </td>
</tr>
</table>
