
<div class="card text-center w-25 m-auto">

<p>
  {{place.name}}

</p>
<p>
  {{place.type}}

</p>
<p>
  {{place.phone}}

</p>
  <a routerLink="/place/{{myid}}/edit"> edit</a>
  <a (click)="dc.delplace(myid)"> remove</a>
</div>
