<div class="card-group">
  <div class="card ">
    <div class="card-header"><h5 class="card-title " >Select order</h5>
    <h6 class="float-left w-50 p-1">username :</h6>
      <input
        type="text"
        id="tel"
        class="form-control form-control-sm w-50 float-left "
        [ngModel]="dc.username | namefilter"
        (ngModelChange)="dc.username=$event" />



      <!-- CRAYCRAY SHIT angular two way binding [()] split so pipe can be applied -->

    </div>

    <div class="card-selectorlist"
         *ngFor="let items of dc.bills"
         (click)="dc.changebill(items.id)"
         [ngClass]="{'selected':(dc.selbilid == items.id)}"
    >{{items.name}}</div>

    <div class="card-selectorlist special" (click)="dc.changebill(null)" [ngClass]="{'selected':(dc.selbilid == null)}" >New Order</div>
  </div>
  <div class="card">
    <app-food></app-food>
  </div>

</div>
