.card-selectorlist{

  border-top: solid;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.card-selectorlist.selected{
  background-color: #8b0000;
  color : white;
}
.card-selectorlist:hover{

background-color: lightgray;
  box-shadow: grey 0px 0px 8px;
}
