.cbts{
  height: 2em;
  width :2em;
  font-weight: bolder;
  margin: 5px;
  padding-top: -5px;

}
.inviz{
  visibility: hidden;
}
.add{
  background-color: green;
}
.rem{
  background-color: red;
}
.billline{
  border-style: none;
}
.first
{
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;

}
.last{
  border-top-style: solid;
  border-color: black;
}
.smoll{
  width: 10%;
}
