<div class="card-header"><h5 class="card-title w-100">{{dc.title}}
  <select
    *ngIf="dc.foodstate==3"
    id="user"
    class="float-right w-50 form-control"
    (change)="dc.refresh()"
    [(ngModel)]="dc.vusername">
    <option *ngFor="let items of dc.usernames" value="{{items}}">{{items}}</option>

  </select>
</h5></div>
<div class="card-body">
  <div class="m-1" *ngIf="dc.foodstate > 1">
  <button [ngClass]="{'inviz':!(dc.foodstate > 2)}" class="btn btn-primary " (click)="dc.prevb()">{{dc.prev}}</button><button *ngIf="dc.foodstate < 4 && dc.foodstate > 1"class="btn btn-primary float-right" (click)="dc.nextb()">{{dc.next}}</button>
  <br class="float-none">
  </div>

  <div *ngIf="dc.foodstate == 2">

  <div

    *ngFor="let items of dc.stack"
    (click)="dc.upstep(items.id)"
    class="list-group-item"
  >

    <p class="w-50 m-0" >{{ items.title }}</p>

    <div *ngIf="dc.foodstate === 2" class="h-25 w-25 float-right">
      <button (click)="dc.addc(items.id , (+items.rbox))"  class="cbts btn btn-sm btn-primary add float-left">+</button>
      <h2 class="float-left">{{items.rbox}}</h2>
      <button (click)="dc.remc(items.id , +items.rbox)" class="cbts btn btn-sm btn-primary rem float-left ">-</button>

    </div>
    <br>
  </div>
  </div>
  <div *ngIf="dc.foodstate > 2">
  <table class="w-100 m-auto">
    <tr class="billline first">
      <td class="larr" >item</td>
      <td class="smoll text-right">amount</td>

      <td class="smoll text-right">price</td>
    </tr>

    <tr

      *ngFor="let items of dc.stack"
      (click)="dc.upstep(items.id)"
      class=" billline"
    >

      <td>
        <p class="larr" >{{ items.title }} {{items.sub2}}</p>
      </td>
      <td class="smoll text-right">{{ items.rbox }}</td>
      <td class="smoll text-right " >{{ items.sub1}}€</td>

    </tr>
    <tr class="billline last">
      <td class="larr" >TOTAL</td>
      <td class="smoll text-right">{{dc.sumcnt}}</td>

      <td class="smoll text-right">{{dc.sumval}}€</td>
    </tr>
  </table>
  </div>

  <div  *ngIf="dc.foodstate === 1" class="card-text">


    <div class="form-group">
      <label for="name">Bill Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="NewBillName">
    </div>
    <div class="form-group">
      <label for="status">Restaurant</label>
      <select
        id="status"
        class="form-control"
        [(ngModel)]="NewBillPlace">
        <option *ngFor="let items of dc.stack" value="{{items.id}}">{{items.title}}</option>

      </select>
    </div>
    <button class="btn btn-primary" (click)="addbill()">Toevoegen</button>
  </div>

</div>

