<div class="card m-4">
  <div class="card-header"><h3>Food Place</h3></div>
  <div class="card-body p4">
<div class="form-group">
  <label for="name">Resto Naam</label>
  <input
    type="text"
    id="name"
    class="form-control"
    [(ngModel)]="placename">
</div>
<div class="form-group">
  <label for="name">Resto tel</label>
  <input
    type="text"
    id="tel"
    class="form-control"
    [(ngModel)]="placetel">
</div>
<div class="form-group">
  <label for="status">resto type</label>
  <select
    id="status"
    class="form-control"
    [(ngModel)]="placetype">
    <option value="pizza">pizza</option>
    <option value="durum">durum</option>
    <option value="fritkot">fritkot</option>

  </select>
</div>
<button
  class="btn btn-primary"
  (click)="updateornew()">Update Server</button>
</div>
</div>
