<div class="topbar">
  <a href="javascript:void(0)" class="closebtn" [ngClass]="{'hiden': (!cls) }" (click)="openc()"><img src="../../assets/icons8-menu-filled-24.png" class="closebtn"  height="24" width="24"/></a>
  <a href="javascript:void(0)" class="closebtn" [ngClass]="{'hiden': cls }" (click)="closec()"><img src="../../assets/icons8-delete-filled-50.png" class="closebtn"  height="24" width="24"/></a>
</div>
<div id="mySidenav" class="sidenav" [ngClass]="{'closed': cls }">
  <img src="../assets/chiro white trans.png" height="255" width="255"/><img src="../assets/fxs.png" height="1000" width="1000"/>

  <a routerLink="/dash">dashboard</a>
  <a routerLink="/food">Food</a>
  <!-- <a class="orderlink" href="#">maandag</a>
   <a class="orderlink" href="#">zondag avond</a> -->
 </div>

 <!-- Use any element to open the sidenav -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" [ngClass]="{'closed': cls }">
  <div class="cntcls">
    <ng-content>

    </ng-content>


  </div>
</div>
