/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e10027; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 2.5em; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: rgba(0, 0, 0, 0.67) 8px 0px 20px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;

}
.cntcls{
  margin-top: 2em;
}

.sidenav.closed {

  width: 0px; /* 0 width - change this with JavaScript */
}

.sidenav img {
  width: 40%;
  height: auto;
  margin: auto;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav a.orderlink {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 20px;

}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #c0c0c0;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.hiden{
position: absolute;
left: -500px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav.closed {

    width: 0px; /* 0 width - change this with JavaScript */
  }
}
@media screen and (min-width: 800px) {
  .sidenav {
    background: darkred;
    width: 250px;
  }
  .closebtn {visibility: hidden}
  #main{
    padding-left: 270px;
  }
  .sidenav.closed {

    width: 250px; /* 0 width - change this with JavaScript */
  }
}
.topbar{
  background-color: #e10027;
  position: absolute;
  z-index: 2;
  height: 2em;
  box-shadow: rgba(0, 0, 0, 0.67) 0px 2px 20px;
  width: 100%;
}
